<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SystemManager.Properties.Settings.TundraMkConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TundraUae;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="SystemManager.Properties.Settings.TundraUaeConnectionString1"
      connectionString="Data Source=.;Initial Catalog=TundraUae;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="SystemManager.Properties.Settings.TundraUaeConnectionString"
      connectionString="Data Source=.;Initial Catalog=TundraUae;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>