body{background-color:#ececec;direction:ltr;font-family:tahoma,arial;color:#333;font-size:13px;text-align:left;height:100%;margin:10px 0 0}
.CyanHead{width:400px;height:27px;background-image:url(../images/bluepanel_bg.jpg);background-position:bottom;background-repeat:repeat-x;border:1px solid #0b6023;direction:ltr;font-family:tahoma,arial;color:#777d7e;font-size:13px;line-height:27px;font-weight:700;text-align:left;padding-left:10px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.CyanBody{width:400px;height:250px;background-image:url(../images/blue_bg.jpg);background-position:bottom;background-repeat:repeat-x;border:1px solid #0b6023;direction:ltr;font-family:tahoma,arial;color:#777d7e;font-size:13px;text-align:left;padding-left:10px;padding-top:10px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.BlueHead{width:400px;height:27px;background-image:url(../images/cyanpanel_bg.jpg);background-position:bottom;background-repeat:repeat-x;border:1px solid #9ee3ec;direction:ltr;font-family:tahoma,arial;color:#777d7e;font-size:13px;line-height:27px;font-weight:700;text-align:left;padding-left:10px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.BlueBody{width:400px;height:250px;background-image:url(../images/cyan_bg.jpg);background-position:bottom;background-repeat:repeat-x;border:1px solid #9ee3ec;direction:ltr;font-family:tahoma,arial;color:#777d7e;font-size:13px;text-align:left;padding-left:10px;padding-top:10px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
#menu{list-style:none;color:#fff;line-height:41px;display:inline-block;float:left;z-index:1000;margin:0;padding:0}
#menu > li{background:#3ba8d2 none repeat scroll 0 0;cursor:pointer;float:left;position:relative;padding:0 10px}
#menu > li a:hover{color:#35dee7}
#menu .logo{background:0 0;padding:0}
#menu ul{display:inline;margin:0;padding:0}
#menu li ul{position:absolute;left:-10px;top:0;margin-top:41px;width:150px;line-height:16px;background-color:#3ba8d2;color:#14b9da;display:none}
#menu li:hover ul{display:block}
#menu li ul li{display:block;border-top:dotted 1px #606060;list-style-type:none;text-align:left;margin:5px 20px;padding:5px 0}
#menu li ul li:first-child{border-top:none}
#menu li ul li a{display:block;color:#35dee7}
#menu li ul li a:hover{color:#fff}
#menu #main{left:0;top:-20px;padding-top:20px;background-color:#7cb7e3;color:#fff;z-index:999;font-weight:700}
.searchContainer div{background-color:#fff;display:inline;padding:5px}
.searchContainer input[type=text]{border:none}
.searchContainer img{vertical-align:middle}
#menu .corner_inset_left{position:absolute;top:0;left:-12px}
#menu .corner_inset_right{position:absolute;top:0;left:150px}
#menu .last{background:transparent none repeat scroll 0 0;position:relative;border:none;height:0;margin:0;padding:0}
#menu .corner_left{position:absolute;left:0;top:0}
#menu .corner_right{position:absolute;left:132px;top:0}
#menu .middle{position:absolute;left:18px;height:20px;width:115px;top:0}
.MinutesLogo{width:168px;height:46px;float:left;vertical-align:middle;cursor:pointer}
.Notification{background-color:#045c73;border-radius:6px 6px 6px 6px;color:#d4eff6;cursor:pointer;float:right;font-size:11px;font-weight:700;height:28px;line-height:28px;margin-right:12px;margin-top:66px;padding-left:8px;padding-right:8px;text-align:left}
.Notification a:hover{color:#fff;text-decoration:underline}
.Notification2 a:active{color:#b06d0c;text-decoration:none}
.Notification2 a:hover{color:#b06d0c;text-decoration:underline}
.OrangeLink a:hover{font:bold 9pt Arial;color:#35dee7;text-decoration:underline}
.ContentHolder{width:1000px;height:650px;background-color:#fff;box-shadow:0 0 3px #D4D4D4;background-position:center top;background-repeat:repeat-x;border:1px solid #d9e9ed;vertical-align:top;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;margin:0 auto}
.innerContentHead{background-image:url(../images/px.png);background-position:left;background-repeat:repeat-x;width:950px;height:35px;border:1px solid #b06d0c;font-family:Arial;font-weight:700;text-decoration:none;font-size:12pt;color:#fff;padding-left:15px;text-align:left;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;line-height:2;padding-top:3px;vertical-align:middle}
.innerPlaceHolder{background-color:#F8F8F8;width:950px;height:460px;border:1px solid #EDEDED;vertical-align:top;text-decoration:none;font-size:9pt;text-align:justify;color:#222;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;padding:15px 15px 0}
.Grid{border-top:1px solid #e9e9e9;border-left:1px solid #e9e9e9}
.GridHead{background:#b77920;background-image:url(../images/brown-hdr.png);background-position:left;background-repeat:repeat-x;height:33px;text-align:left;padding-left:10px;color:#fff;font-family:Tahoma;font-size:9pt;font-weight:700;text-indent:10px}
.Grid td{border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9;text-align:left;height:23px;padding-left:10px}
.Grid_alertnative td{background-color:#fff;border-bottom:1px solid #e9e9e9;text-align:left;height:23px;padding-left:10px}
.footer{background-image:url(../images/blue-hdr.png);background-position:left top;background-repeat:repeat-x;border:1px solid #af6c0b;height:30px;background-color:#01728f;text-align:left;color:#99D6E7;padding-left:10px;text-shadow:1px 1px 0 #6c651d;border-radius:6px;-moz-border-radius:6px;font-size:11px;-webkit-border-radius:6px}
.header-top{height:114px;background-image:url(../images/hdr-px.png);background-position:left top;background-repeat:repeat-x;background-color:#fff}
.g-btn{background-image:url(../images/brown-hdr.png);background-position:left bottom;background-repeat:repeat-x;background-color:#b77920;border:1px solid #7c541b;border-radius:5px 5px 5px 5px;color:#FFF;cursor:pointer;font-family:tahoma;font-size:12px;font-weight:700;margin-left:5px;text-align:center;text-decoration:none;padding:3px 14px}
.g-btn:hover{background-position:top}
.g-btn-del{background:url(../images/clos.png) no-repeat scroll center top transparent;background-color:#ba0000;border:1px solid #ba0000;border-radius:5px 5px 5px 5px;cursor:pointer;color:#FFF;font-family:tahoma;font-size:12px;font-weight:700;margin-left:5px;text-align:center;text-decoration:none;width:100px;padding:7px 14px}
.g-btn-save{background:url(../images/sav.png) no-repeat scroll center top transparent;background-color:#004f88;border:1px solid #004f88;border-radius:5px 5px 5px 5px;cursor:pointer;color:#FFF;font-family:tahoma;font-size:12px;font-weight:700;margin-left:5px;text-align:center;text-decoration:none;width:100px;padding:7px 14px}
.blue{background-color:#15678a}
.alphabet{background-color:#00501F;color:#FFF;float:right;font-family:Tahoma,Geneva,sans-serif;font-weight:700;text-align:center;text-decoration:none;margin:5px;padding:5px 9px}
.alphabet:hover{background-color:#036f2d}
input,textarea,select{background-image:url(../images/input-px.png);background-position:center top;background-repeat:repeat-x;border:1px solid #a78346;color:#2B2B2B;font-size:13px;width:250px;padding:3px}
input[type=radio],input[type=button],input[type=checkbox]{border:medium none!important;width:auto!important}
.red-txt{color:red}
.small-input{width:auto!important}
.red-alert,.green-alert,.yellow-alert{width:90%;float:left;text-align:left;background-repeat:no-repeat;background-position:left 10px;margin-bottom:10px;padding:10px 33px}
.red-alert{background-image:url(../images/Delete.png);background-color:#ffeaea;border:1px solid #ef8181;color:#900}
.green-alert{background-image:url(../images/ok.png);background-color:#dcfdc9;border:1px s;color:#060}
.yellow-alert{background-image:url(../images/warning.png);background-position:10px 10px;background-color:#fafdc9;border:1px solid #d2d86f;color:#554814;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.white-alert{background-color:#fff;border:1px solid #d2d86f;color:#000;width:94%;float:right;text-align:left;background-repeat:no-repeat;background-position:right 10px;margin-bottom:10px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:10px 33px}
.div-right{float:right!important}
.div-left{float:left!important}
.margin-right{margin-right:10px!important}
.progress{width:80px;height:25px;background-repeat:no-repeat;margin-right:100px;position:fixed;border:1px solid #b06d0c;background-color:#005c74;color:#fff;z-index:9999999;-moz-box-shadow:0 0 5px 5px #b06d0c;-webkit-box-shadow:0 0 5px 5px #b06d0c;box-shadow:0 0 5px 5px #b06d0c;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;right:40%;padding:3px}
.Background{position:fixed;top:0;bottom:0;left:0;right:0;overflow:hidden;background-color:#000;filter:alpha(opacity=50);opacity:0.5;z-index:1000;margin:0;padding:0}
.bggb{background-color:#f4f4f4;width:40%}
#easyTooltip{border:1px solid #195fa4;background:#195fa4 url(../images/bg.gif) repeat-x;color:#fff;-moz-box-shadow:1px 1px 1px #195fa4;-webkit-box-shadow:1px 1px 1px #195fa4;box-shadow:1px 1px 1px #195fa4;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;padding:5px 10px}
#easyTooltip2{border:1px solid #5e5e5e;background:#5e5e5e url(../images/bg2.gif) repeat-x;color:#fff;max-width:250px;-moz-box-shadow:1px 1px 1px #195fa4;-webkit-box-shadow:1px 1px 1px #195fa4;box-shadow:1px 1px 1px #195fa4;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;padding:5px 10px}
#easyTooltip2 h4,#easyTooltip2 p{margin:.25em 0}
.watermark{color:Gray}
#menu a,.Notification a:link,.Notification a:active,.Notification a:visited{color:#fff;text-decoration:none}
.MinutesLogo a,a img{border:0}
.Notification2 a:link,.Notification2 a:visited{color:#FFF;text-decoration:none}
.OrangeLink,.OrangeLink a:link,.OrangeLink a:active,.OrangeLink a:visited{font:bold 9pt Arial;color:#e67817;text-decoration:none}
.ajax__calendar_days td,.ajax__calendar_container td,#ContentPlaceHolder1_txtItemDate td,#ContentPlaceHolder1_txtJionDate_CalendarExtender_daysBody td,#ContentPlaceHolder1_CalendarExtender1_daysTable td{padding:0!important}
/**********************popup****************************/
.modalPopup{background-color:#f5f5f5;
      border-width:6px;
      border-style:solid;
      border-color:#ccc;
      padding:5px;
      width: 600px;
      height:210px;  
    color:#041c33;     
     -moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px
}
.block-bg-act {
    background: url("../images/opcity-black.png") repeat scroll 0 0 transparent;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2147483647;
}
/*  popup forms */
a.btn-close{position: absolute;
top: 5px;
right: 5px; font-size:small;
width: 55px !important;}
#nav{width:100%;}
/***end popup***/